@charset "utf-8";
/* CSS Document */

/* CONTENT */
.clear { clear:both; }
#dp_ui_content {
	width:100%;
	font-size: 12px;
	color: #595959;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
	position: relative;
	background: url(../images/backgrounds/bodyBg.png) repeat-y 0 0 #fff;
	margin-top:40px;
	min-height: 500px; 
}

#dp_ui_content #dp_logo {  background: url(../images/logo.png) no-repeat 50% 50%; width:218px; height:200px; }

#dp_ui_content .titleArea { background: #fafafa; }

#dp_ui_content .pageTitle { float: left; padding: 20px 0; }

#dp_ui_content #leftSide { background: url(../images/backgrounds/leftTop.png) repeat-x 0 0; margin: 0 2px; float: left; width: 216px; padding: 0 1px; padding-bottom: 60px; } 
#dp_ui_content #rightSide { padding-bottom: 62px; overflow: hidden; }
#dp_ui_content .wrapper { position: relative; margin: 0 3%; }

#dp_ui_content #rightSide .wrapper #tabs { margin-top: 20px; }

/* MENU */
#dp_ui_content .nav {  border-top: 1px solid #1c252b; width: auto; min-width: 100%; }
#dp_ui_content .nav li { position: relative; margin:0; float:none; }
#dp_ui_content .nav li a { display: block; background: url(../images/backgrounds/navItemBg.png) repeat-x 0 0; border-bottom: 1px solid #1c252b; border-top: 1px solid #545454; text-decoration:none; }
#dp_ui_content .nav li a:hover { background-position: 0 -43px; border-top: 1px solid #666; }
#dp_ui_content .nav li a.active, #dp_ui_content .nav li a:active { background-position: 0 -86px; border-top: 1px solid #777; }
#dp_ui_content .nav li a span { padding: 10px 0 12px 22px; display: block; font-size: 10px; text-transform: uppercase; font-weight: bold; color: #efefef; }


#dp_ui_content .nav .last { border-bottom: none; }

/* Text */

#dp_ui_content h1 { font-size: 24px; }
#dp_ui_content h2 { font-size: 22px; }

#dp_ui_content h2.dp_subsection {
	background: #666;
	color: #fff;
	padding: 5px 10px;
	float: left;
}	
#dp_ui_content h2.subtitle { font-size: 18px; }
#dp_ui_content h2.accordion_title { cursor:pointer; background: #f2f2f2; padding: 10px 20px; margin: 10px 0; }
#dp_ui_content h3 { font-size: 20px; }
#dp_ui_content h4 { font-size: 18px; }
#dp_ui_content h5 { font-size: 16px; }
#dp_ui_content h6 { font-size: 14px; }

#dp_ui_content #leftSide p {
	text-align:center; display: block; font-size: 10px; text-transform: uppercase; font-weight: bold; color: #efefef;
}

#dp_ui_content .info {
    background: #FFFFCC url(../images/admin/success.png) no-repeat 10px center;
    border: 1px dotted #D8D2A9;
    padding: 20px 20px 20px 50px;
    color: #333;
    width:680px;
}

#dp_ui_content .option {
    display: block;
    float: left;clear: left;
	border-bottom:1px solid #dfdfdf;
	width:100%
}


#dp_ui_content .option-inner {
    float: left;
    padding:5px;
    margin: 20px 0;
    width: 100%;
}

#dp_ui_content .titledesc {
    font-size: 12px;
    display: block;
    line-height: 1.2em;
    float: left;
    width: 250px;
    margin-right: 10px;
	cursor: default;
}

#dp_ui_content .formcontainer {
    float: left;
    width: 100%;
    max-width: 600px;
}

#dp_ui_content .forminp {
    vertical-align: middle !important;
}

#dp_ui_content .forminp button {
	text-shadow: 0 1px 0 white;
	border-color: #CCC #CCC #AAA;
	background-color: #E0E0E0;
	-moz-box-shadow: inset 0 0 1px #fff;
	-ms-box-shadow: inset 0 0 1px #fff;
	-webkit-box-shadow: inset 0 0 1px #fff;
	box-shadow: inset 0 0 1px #fff;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#fffafafa,EndColorStr=#ffdcdcdc);
	background-image: -moz-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
	background-image: -ms-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
	background-image: -o-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FAFAFA),color-stop(100%,gainsboro));
	background-image: -webkit-linear-gradient(top,#FAFAFA 0,gainsboro 100%);
	background-image: linear-gradient(to bottom,#FAFAFA 0,gainsboro 100%);
	color: #555;
	padding: 3px 8px;
	border: 1px solid;
	outline: 0;
	font-weight: bold;
	font-size: 11px;
	white-space: nowrap;
	word-wrap: normal;
	vertical-align: middle;
	cursor: pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-transform:capitalize;
	margin-top: 5px;
	opacity: .7;	
}

#dp_ui_content .forminp button:active {
	border-color: #888 #AAA #CCC;
	-moz-box-shadow: inset 0 1px 5px rgba(0,0,0,0.25),0 1px 0 #fff;
	-ms-box-shadow: inset 0 1px 5px rgba(0,0,0,0.25),0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,0.25),0 1px 0 #fff;
	box-shadow: inset 0 1px 5px rgba(0,0,0,0.25),0 1px 0 #fff;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#ffc8c8c8,EndColorStr=#ffe6e6e6);
	background-image: -moz-linear-gradient(top,#C8C8C8 0,#E6E6E6 100%);
	background-image: -ms-linear-gradient(top,#C8C8C8 0,#E6E6E6 100%);
	background-image: -o-linear-gradient(top,#C8C8C8 0,#E6E6E6 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#C8C8C8),color-stop(100%,#E6E6E6));
	background-image: -webkit-linear-gradient(top,#C8C8C8 0,#E6E6E6 100%);
	background-image: linear-gradient(to bottom,#C8C8C8 0,#E6E6E6 100%);
	
}

#dp_ui_content .forminp input,
#dp_ui_content .forminp select,
#dp_ui_content .forminp textarea {
    margin-bottom: 9px !important;
    background-color: #f1f1f1;
    border: 1px solid;
    border-color: #ccc #e6e6e6 #e6e6e6 #ccc;
    width: 275px;
    padding: 8px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana,sans-serif;
    font-size: 12px;
}

#dp_ui_content .forminp input[type=checkbox]{ 
  width: auto;
}

#dp_ui_content .forminp select {
	padding: 0 0 0 4px; width: 280px;
} 

#dp_ui_content .forminp select.multiple {
	height: 100px;
} 

#dp_ui_content .desc,
.dp_ui_appointments_content_desc {
    font-size: 12px;
    width: 280px;
    color: #999;
    display: block;
	font-style:italic;
	clear: both;
}

.dp_ui_appointments_content_desc {
	color: #555;
	width: 100%;
}

#dp_ui_content label{
	max-width: 30%;
	width: 100%;
	display: block;
	float: left;
	line-height: 35px;
	color: #444;
}

#dp_ui_content input[type=text]{
	-webkitbox-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 0;
	border-bottom: 1px solid #ddd;
	width: 50%;
	line-height: 35px;
	height: 35px;
	padding: 0;
	background: none;
}

#dp_ui_content input[type=number]{
	max-width: 100px;
}

#dp_ui_content input[type=text]:focus{
	border-bottom-color: #2196f2;	
}

#dp_ui_content .misc-pub-section, {
	color: #444;
}

#dp_ui_content .forminp .checkbox {
    width: 16px;
    background: transparent none;
}

#dp_ui_content .option-checkbox .desc {
	width: 280px;
}

#dp_ui_content .option.no_border {
	border:0;
}

.color-picker-wrap {
	position: absolute;
	display: none; 
	background: #fff;
	border: 3px solid #ccc;
	padding: 3px;
	z-index: 1000;
}

.colorpicker {
	z-index: 9999 !important;
}

#editorcontainer #description {
	width: 600px;	
}

#dp_ui_content .appointments_custom_shortcode {
	display: block;
	margin: 10px 0;
	background: #eee;
	font-size: 18px;
	padding: 10px;
	float: left;
	font-style: italic;
}

#dp_ui_content .appointments_custom_shortcode.appointments_small {
	padding: 5px 10px;
	font-size:14px;
}

#dp_ui_content .errorCustom,
.appointments_admin_errorCustom {
	background-color: #FFEBE8;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #C00;
	margin: 5px 0 15px;
	padding: 0 .6em;
}

#dp_ui_content .errorCustom p,
.appointments_admin_errorCustom p{
	margin: .5em 0;
	padding: 2px;
}

.selectricWrapper {
  position: relative;
  margin: 0 0 10px;
  width: 100%;
  cursor: pointer;
  margin-top:5px;
}

.selectricResponsive {
  width: 100%;
}

.selectric {
  border: 1px solid #DDD;
  background: #F8F8F8;
  position: relative;
  border-radius: 2px;
}

.selectric .label {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	margin: 0 30px 0 0;
	padding: 6px;
	font-size: 12px;
	line-height: 18px;
	color: #444;
	min-height: 18px;
	background: inherit;
	text-shadow: none;
	font-weight: normal;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.selectric .button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  color: #BBB;
  text-align: center;
  font: 0/0 a;
  /* IE Fix */
  *font: 20px/30px Lucida Sans Unicode, Arial Unicode MS, Arial;
  background: none;
	text-shadow: none;
	border: none;
	border-radius: 0;
	padding: 0;
	box-shadow: none;
}

.selectric .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #BBB;
  border-bottom: none;
}

.selectricHover .selectric {
  border-color: #CCC;
}

.selectricHover .selectric .button {
  color: #888;
}

.selectricHover .selectric .button:after {
  border-top-color: #888;
}

.selectricOpen {
  z-index: 9999;
}

.selectricOpen .selectric {
  border-color: #CCC;
  background: #F0F0F0;
  z-index: 9999;
}

.selectricOpen .selectricItems {
  display: block;
}

.selectricDisabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectricHideSelect {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}

.selectricHideSelect select {
  position: absolute;
  left: -100%;
  display: none;
}

.selectricInput {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectricTempShow {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

.selectricWrapper {
	max-width: 200px;
	float: left;
	margin: 0;
}

#dp_ui_content table.widefat td{
	overflow: visible;
}

.selectricWrapper {
  position: relative;
  margin: 0 0 10px;
  width: 100%;
  cursor: pointer;
  margin-top:5px;
}

.selectricResponsive {
  width: 100%;
}

.selectric {
  border: 1px solid #DDD;
  background: #F8F8F8;
  position: relative;
  border-radius: 2px;
}

.selectric .label {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	margin: 0 30px 0 0;
	padding: 6px;
	font-size: 12px;
	line-height: 18px;
	color: #444;
	min-height: 18px;
	background: inherit;
	text-shadow: none;
	font-weight: normal;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.selectric .button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  color: #BBB;
  text-align: center;
  font: 0/0 a;
  /* IE Fix */
  *font: 20px/30px Lucida Sans Unicode, Arial Unicode MS, Arial;
  background: none;
	text-shadow: none;
	border: none;
	border-radius: 0;
	padding: 0;
	box-shadow: none;
}

.selectric .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #BBB;
  border-bottom: none;
}

.selectricHover .selectric {
  border-color: #CCC;
}

.selectricHover .selectric .button {
  color: #888;
}

.selectricHover .selectric .button:after {
  border-top-color: #888;
}

.selectricOpen {
  z-index: 9999;
}

.selectricOpen .selectric {
  border-color: #CCC;
  background: #F0F0F0;
  z-index: 9999;
}

.selectricOpen .selectricItems {
  display: block;
}

.selectricDisabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectricHideSelect {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}

.selectricHideSelect select {
  position: absolute;
  left: -100%;
  display: none;
}

.selectricInput {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectricTempShow {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

.selectricWrapper {
	max-width: 200px;
	float: left;
	margin: 0;
}

.selectricItems {
  display: none;
  position: absolute;
  overflow: auto;
  top: 100%;
  left: 0;
  background: #F9F9F9;
  border: 1px solid #CCC;
  z-index: 9998;
  -webkit-box-shadow: 0 0 10px -6px;
  box-shadow: 0 0 10px -6px;
}

.selectricItems ul,
.selectricItems li {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 12px;
  line-height: 20px;
  min-height: 20px;
  float: none !important;
}

.selectricItems li {
  display: block;
  padding: 5px !important;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #EEE;
  color: #666;
  cursor: pointer;
  margin: 0 !important;
}

.selectricItems li.selected {
  background: #EFEFEF;
  color: #444;
  border-top-color: #E0E0E0;
}

.selectricItems li:hover {
  background: #F0F0F0;
  color: #444;
}

.selectricItems li.disabled {
  background: #F5F5F5;
  color: #BBB;
  border-top-color: #FAFAFA;
  cursor: default;
}
ul#menu {
    padding-left: 0!important;
}